@keyframes rotate {
  100% {
  transform: rotate(360deg);
  }
}
  
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(360deg, #0444BD 7.6%, #659AFF 52.44%, #FFFF 97.05%);
  animation: rotate 1s linear infinite;
}

.circle {
  width: 15.5px;
  height: 15.5px;
  border-radius: 50%;
  background-color: #0444BD;
}