.container {
  background-color: #F1F6FF;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.divLogo p {
  color: #022971;
  font-weight: bold;
}

.divButtons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.divButtons > .buttonRestaurante {
  background-color: #F1F6FF;
  color: #0444BD;
  border: none;
  font-weight: bold;
}

.divButtons > .buttonAdmin {
  background-color: #0444BD;
  color: #FFF;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}