.container {
  background-color: #E6ECF8;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.625rem;
}

.divLogo p {
  color: #022971;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 40px;
}

.divButtons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.divButtons > .buttonRestaurante {
  background-color: #E6ECF8;
  color: #0444BD;
  border: none;
  font-weight: bold;
  box-shadow: none;
}

.divButtons > .buttonAdmin {
  background-color: #0444BD;
  color: #FFF;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}