.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.infoNoData {
  color: rgba(255, 0, 0, 0.90);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: 24px;
}

.noDataImage {
  width: 126px !important; 
  height: 131px !important;
  margin: 0;
}

