.modal {
    border-radius: 8px;
    border: 1px solid #6996EA;
    background: #FCFCFC;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.modal .title {
    color: #043DAA;
    font-size: 34px;
    font-weight: 700;
}

.modalContainer .pictureContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modalContainer .pictureContainer img,
.modalContainer .pictureContainer .placeholder {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    object-fit: cover;
}

.modalContainer .pictureContainer .placeholder {
    background-color: #0444bd;
}

.modalContainer .pictureContainer .fileContainer {
    margin-left: 10px;
    position: relative;
    width: 370px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #B1C5EB;
}

.modalContainer .pictureContainer .fileContainer label,
.modalContainer .pictureContainer .fileContainer input {
    position: absolute;
    width: 133px;
    height: 19px;
    left: 5px;
}

.modalContainer .pictureContainer .fileContainer label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 2px;
    border-radius: 2px;
    background-color: #E6ECF8;
}

.modalContainer .pictureContainer .fileContainer input {
    display: none;
}

.modalContainer .pictureContainer .fileContainer span {
    position: absolute;
    right: 10px;
    color: #193160;
    font-size: 16px;
}

.modalContainer .item {
    display: flex;
    margin-bottom: 10px;
}

.modalContainer .itens {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.modalContainer input,
.modalContainer select {
    height: 40px;
    padding-left: 5px;
    border: 1px solid #0443BD;
    border-radius: 5px;
}

.modalContainer input,
.modalContainer input::placeholder,
.modalContainer select,
.modalContainer label {
    color: #0443BD;
    font-weight: 400;
}

.modalContainer input::placeholder {
    font-size: 16px;
}

.modalContainer input:focus {
    outline: none;
}

.modalContainer label {
    margin-top: 2px;
    font-size: 14px;
}