:root {
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.custom-input {
  border: 2px solid #022971;
  border-color: #022971;
}

.ant-modal .ant-modal-content {
  border-radius: 20px !important;
}

.ant-modal-content {
  width: fit-content;
}

.ant-modal .ant-modal-content .modal {
  border-radius: 10px !important;
}

.ant-modal {
  padding-bottom: 0 !important;
  top: 200px;
}

