.btnAdd {
  width: 157px;
  height: 44px;
  margin-left: 25px;
  cursor: pointer;
  color: #0444BD;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #0444BD;
  border-radius: 5px;
  background-color: #FFF;
}

.modalAddUser {
  width: 600px !important;
  height: 522px !important;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

.header {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 552px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  color: #043DAA;
  font-size: 32px;
  font-weight: 700;
}

.header img {
  cursor: pointer;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modalContainer .pictureContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
}

.modalContainer .pictureContainer img,
.modalContainer .pictureContainer .placeholder {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  object-fit: cover;
}

.modalContainer .pictureContainer .placeholder {
  background-image: url('/images/user.svg');
}

.modalContainer .pictureContainer .fileContainer {
  margin-left: 16px;
  position: relative;
  width: 480px !important;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #B1C5EB;
}

.modalContainer .pictureContainer .fileContainer input {
  position: absolute;
  width: 133px;
  height: 19px;
  left: 5px;
}

.modalContainer .pictureContainer .fileContainer .labelContainer {
  cursor: pointer;
  margin-left: -4px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 44px;
  border-radius: 10px;
  background-color: #0444BD;
}

.modalContainer .pictureContainer .fileContainer .labelContainer label {
  cursor: pointer;
  margin-left: -4px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

.modalContainer .pictureContainer .fileContainer input {
  display: none;
}

.modalContainer .pictureContainer .fileContainer span {
  position: absolute;
  left: 135px;
  color: #193160;
  font-size: 16px;
  font-weight: 500;
}

.modalContainer .item {
  display: flex;
}

.modalContainer .item:last-child {
  margin-bottom: 10px;
}

.modalContainer .item .itens {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.modalContainer .item .itens .inputBig {
  width: 552px;
}

.modalContainer .item .itens .inputMedium {
  width: 268px;
}

.modalContainer .item .itens label {
  margin-bottom: 4px;
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  text-indent: 0;
}

.modalContainer .item .itens input,
.modalContainer .item .itens select {
  height: 44px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
}

.modalContainer input,
.modalContainer input::placeholder,
.modalContainer select,
.modalContainer label {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  text-indent: 16px;
}

.modalContainer input:focus,
.modalContainer select:focus {
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.5s;
}

.btnNext {
  margin: auto auto;
}

.btnNext, .btnSave {
  background-color: #0444BD;
}

.btnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.btnPrev {
  color: #0444BD;
  border-color: #0444BD;
}