.modal {
  overflow: hidden !important;
  width: 421px !important;
  height: 260px !important;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.containerBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0px 0px;
  margin: 0px 0px;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  width: 103px;
  height: 44px;
  border-radius: 8px;
  font-size: 14px !important;
  line-height: 15px;
  font-weight: 550;
  font-style: normal !important;
}

.containerBtns .btnCancel {
  border: 1px solid #0444bd;
  background: #fff;
  color: #0444BD;
}

.containerBtns .btnConfirm {
  background: #0444bd;
  color: #fff;
}

.btnConfirm:disabled {
  cursor: pointer;
}

.container {
  width: max-content !important;
  color: var(--foundation-grey-dark-active, #1D1D1D);
  text-align:start;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 22.4px */
}

.profile {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile img {
  width: 52px !important;
  height: 52px !important;
  border-radius: 50px;
}

.profile .infoUser {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #1D1D1D;
  line-height: 140%;
}

.tickerQuantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  position: relative;
}

.input {
  margin-left: 5px !important;
  width: 68px !important;
  height: 44px;
  border-radius: 5px;
  font-size: 16px;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.arrowsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12px;
  right: 20px;
}

.arrow {
  width: 9px;
  height: 5.56px;
  margin-bottom: 12px;
}

.spin {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  color: #fff;
}