.btnAdd {
  width: 187px;
  height: 37px;
  margin-left: 32px;
  cursor: pointer;
  color: #022971;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #022971;
  border-radius: 8px;
  background-color: #b1c5eb;
}

.modal {
  border-radius: 8px;
  border: 1px solid #6996ea;
  background: #fcfcfc;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  height: 100px !important;
  /* se o modal ficar grande o pequeno aqui alterar */
}

.modal .title {
  color: #043daa;
  font-size: 34px;
  font-weight: 700;
}

.modalContainer .pictureContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.modalContainer .pictureContainer img,
.modalContainer .pictureContainer .placeholder {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  object-fit: cover;
}

.modalContainer .pictureContainer .placeholder {
  background-color: #0444bd;
}

.modalContainer .pictureContainer .fileContainer {
  margin-left: 10px;
  width: 336px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #B1C5EB;
}

.modalContainer .pictureContainer .fileContainer input {
  width: 95%;
  height: 26px;
  font-size: 16px;
  border: none;
}

.modalContainer .item {
  display: flex;
  margin-bottom: 10px;
}

.modalContainer .itens {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.modalContainer .itens .inputMedium {
  width: 114px;
}

.modalContainer .itens .inputSmall {
  width: 97px;
}

.modalContainer input,
.modalContainer select {
  height: 40px;
  padding-left: 5px;
  border: 1px solid #0443bd;
  border-radius: 5px;
}

.modalContainer input,
.modalContainer input::placeholder,
.modalContainer select,
.modalContainer label {
  color: #0443bd;
  font-weight: 400;
}

.modalContainer input::placeholder {
  font-size: 16px;
}

.modalContainer input:focus {
  outline: none;
}

.modalContainer label {
  margin-top: 2px;
  font-size: 14px;
}