.container {
  display: flex;
}

.nav {
  width: 300px;
  background-color: #b1c5eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.img {
  padding-left: 1em;
  padding-bottom: 3.5em;
}

.nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.nav li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  padding-left: 10px;
  gap: 8px;
  height: 40px;
  margin-right: 13px;
}

.nav a {
  text-decoration: none;
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.nav .active {
  border-radius: 15px;
  background-color: #D9E3F5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #03338E;
}

.icon {
  margin-left: 16px;
}

.rectangle {
  position: absolute;
  left: 0;
  width: 15px;
  height: 30px;
  background-size: cover;
  background-image: url("/images/Rectangle-branco.png");


}

li.active .rectangle {
  background-image: url("/images/Rectangle-azul.png");
}

.logoutContainer {
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #404040;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.nav svg {
  padding: 0;
  margin: 0;
}