.container {
    position: relative;
    width: 90%;
    background-color: #E6ECF8;
    padding: 10px;
    margin-bottom: 30px;
}

.time {
    width: 142px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px;
    align-items: center;
    justify-content: center;
    color: var(--foundation-blue-dark-hover, #022971);
    font: 600 16px/16px Inter !important;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--Blue-Normal, #0444BD);
    background: var(--Blue-Light-Active, #B1C5EB);
}

.title {
    margin-top: 90px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    color: #022971;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid var(--Blue-Normal, #0444BD);
    background: #EEF2F9;
}

.dataSection {
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
}

.dataTitle {
    color: var(--foundation-blue-dark-hover, #022971);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.dataProfile {
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 15px;
}

.dataProfilePicture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem !important;
}

.buttonEditPicture {
    display: flex;
    padding: 1.2rem !important;
    margin-left: 1rem;
    margin-right: -0.5rem;
    border-color: transparent !important;
    border-radius: 0.65rem !important;
    background: var(--Blue-Normal, #0444BD) !important;
    color: #FFF !important;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
}

.dataInfoProfile {
    width: 21rem;
    font-size: 1rem;
    color: #FFF;
    background: #107C10;
    padding: 0.65rem;
    padding-left: 1rem;
    border-radius: 0.65rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.dataInfoContainer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.dataInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dataInfoName {
    font-size: 0.875rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.dataInfo:first-child {
    margin-right: 6rem;
}

.dataEmail {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dataName {
    font-size: 1rem;
    color: #666;
    background: #EEF2F9;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 110%;
}

.dataPhone {
    font-size: 1rem;
    color: #666;
    background: #EEF2F9;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 65%;
    /* Define o tamanho do campo de telefone */
}

.dataInfoEmail {
    font-size: 1rem;
    color: #666;
    background-color: #e8edf5;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 90%;
}

.dataInfoNameRec {
    font-size: 0.875rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    margin-left: -5rem;
}

.dataInfoEmailRec {
    margin-left: -5rem;
    font-size: 1rem;
    color: #666;
    background-color: #e8edf5;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 90%;
}

.dataInfoPassword {
    font-size: 1rem;
    color: #666;
    background-color: #e8edf5;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 20%;
}

.buttonEdit {
    display: flex;
    padding: 18px 16px !important;
    justify-content: center;
    align-self: end;
    border-radius: 8px !important;
    background: var(--Blue-Normal, #0444BD) !important;
    color: #FFF !important;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
}

.buttonEditPassword {
    display: flex;
    padding: 18px 16px !important;
    margin-left: 8px;
    justify-content: center;
    align-self: end;
    border-radius: 8px !important;
    background: var(--Blue-Normal, #0444BD) !important;
    color: #FFF !important;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
}

.toggleButton {
    padding-right: 8px;
    background-color: #e8edf5;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dataContainerPassword {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 1rem;
}

.dataTitleDanger {
    padding: 14px 20px;
    color: var(--foundation-blue-dark-hover, #022971);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.passwordContainer {
    display: flex;
    flex-direction: row;
}

.buttonRemovePicture {
    align-self: start;
    border: none;
    background: none;
    color: var(--Foundation-Blue-Normal, var(--Blue-Normal, #0444BD));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.dataInfoValue {
    display: flex;
    height: 20px;
    padding: 12px 16px;
    margin: 5px 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--Foundation-White-Dark, #BFBFBF);
    background: #EEF2F9;
    color: var(--Foundation-White-Darker, #595959);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.divider {
    border: 0;
    height: 2px;
    background: #0443BD;
    margin: 20px 0;
}

.dataSectionDanger {
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleDelete {
    align-self: stretch;
    color: var(--Foundation-Grey-Darker, #161616);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.textDelete {
    align-self: stretch;
    color: var(--Foundation-Grey-Darker, #161616);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.buttonEditDelete {
    display: flex;
    padding: 12px 16px !important;
    justify-content: center;
    align-items: center;
    border-radius: 8px !important;
    background: var(--Blue-Normal, #0444BD) !important;
    color: #FFF !important;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
}