.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modalContainer .pictureContainer {
    display: flex;
    align-items: center;
}

.modalContainer .pictureContainer img,
.modalContainer .pictureContainer .placeholder {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    object-fit: cover;
}

.modalContainer .pictureContainer .placeholder {
    background-image: url('/images/user.svg');
}

/*Estilos semelhantes de foto, biometria e rfid*/
.modalContainer .pictureContainer .fileContainer,
.modalContainer .pictureContainer .biometryContainer,
.modalContainer .pictureContainer .rfidContainer {
    margin-left: 16px;
    width: 480px !important;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #B1C5EB;
}

.modalContainer .pictureContainer .fileContainer .labelContainer,
.modalContainer .pictureContainer .biometryContainer .labelContainer,
.modalContainer .pictureContainer .rfidContainer .labelContainer {
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #0444BD;
}

.modalContainer .pictureContainer .fileContainer .labelContainer label,
.modalContainer .pictureContainer .biometryContainer .labelContainer label,
.modalContainer .pictureContainer .rfidContainer .labelContainer label {
    margin-left: -5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.modalContainer .pictureContainer .fileContainer span,
.modalContainer .pictureContainer .biometryContainer span,
.modalContainer .pictureContainer .rfidContainer span {
    margin-left: 16px;
    color: #193160;
    font-size: 16px;
    font-weight: 500;
}

/*Estilos apenas de foto*/
.modalContainer .pictureContainer .fileContainer .labelContainer {
    width: 120px;
}

.modalContainer .pictureContainer .fileContainer input {
    position: absolute;
    display: none;
    width: 133px;
    height: 19px;
    left: 5px;
}

/*Estilos apenas de biometria*/
.modalContainer .pictureContainer .biometryContainer {
    margin-bottom: 8px;
}

.modalContainer .pictureContainer .biometryContainer .labelContainer {
    width: 173px;
}

/*Estilos apenas de rfid*/
.modalContainer .pictureContainer .rfidContainer .labelContainer {
    width: 134px;
}

/*Estilos dos formulários*/  
.modalContainer .item {
    display: flex;
    margin-bottom: -10px;
}

.modalContainer .item:last-child {
    margin-bottom: 16px;
}

.modalContainer .item .itens {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.modalContainer .item .itens .inputBig {
    width: 552px;
}

.modalContainer .item .itens .inputMedium {
    width: 268px;
}

.modalContainer .item .itens label {
    margin-bottom: 4px;
    color: #161616;
    font-size: 16px;
    font-weight: 700;
    text-indent: 0;
}

.modalContainer .item .itens input,
.modalContainer .item .itens select {
    height: 44px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}

.modalContainer input,
.modalContainer input::placeholder,
.modalContainer select,
.modalContainer label {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    text-indent: 16px;
}

.modalContainer input:focus,
.modalContainer select:focus {
    outline: none;
}