.btnToGoBack {
    position: absolute;
    top: 80px;
    left: 46px;
    cursor: pointer;
    color: #fff !important;
    border-radius: 50px;
    background-color: #0444BD;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #03338E;
    font-size: 32px;
    font-weight: 700;
    margin: 5rem 0;
}

.inputContainer {
    width: 388px;
    text-align: center;
    margin-top: 2.25rem;
}

.divButton {
    margin-top: 2.5rem;
}

.divButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-shrink: 0;
    width: 204px;
    height: 44px;
    padding: 0.75rem 1rem;
    background-color: #0444BD;
    font-weight: 700;
    line-height: 20px;
    font-size: 1rem; 
}