.container {
    margin-top: 15px;
}

.btnsContainer {
    display: flex;
}

.btnsContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaultPagination {
    display: none !important;
}

.tableContainer {
    position: relative;
}

.errorMessage {
    position: absolute;
    top: 60%;
    left: 50%;
    color: #C50F1F;
    transform: translate(-50%, -50%);
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    background-color: #FFFFFF;
    border-left: 1px solid #03338E;
    border-bottom: 1px solid #03338E;
    border-right: 1px solid #03338E;

}

.paginationContainer .selectContainer {
    display: flex;
    align-items: center;
}

.selectContainer span,
.selectContainer .pageSizeSelect .selectContainer .pageSizeSelect option {
    color: #03328E;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.selectContainer .pageSizeSelect {
    width: 75px;
    height: 44px;
    margin-left: 10px;
    /* border: 1px solid #0444BD !important; */
    border-radius: 5px;
}

.paginationContainer .paginationInfo {
    margin-left: 15px;
    margin-right: 15px;
    color: #03338E;
    font-size: 14px;
    font-weight: 400;
}

.paginationContainer .paginationButtons {
    color: #03338E;
}

.first,
.last {
    width: 18px;
    height: 20px;
}

.prev,
.next {
    width: 14px;
    height: 20px;
}

.first {
    margin-right: 15px;
}

.prev {
    margin-right: 10px;
}

.last {
    margin-left: 15px;
}

.disabledButton {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.table {
    border-left: 1px solid #03338E;
    border-top: 1px solid #03338E;
    border-right: 1px solid #03338E;
}

.table th,
.table td {
    color: #03338E !important;
    font-weight: 400;
}

.table th {
    font-size: 18px;
    border-bottom: 1px solid #D9E3F5 !important;
    background-color: #E6ECF8 !important;
}

.table td {
    font-size: 16px;
}

.table img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.nameAndPicture {
    display: flex;
    align-items: center;
}

.evenRow {
    background-color: #D9E3F5 !important;
}

.oddRow {
    background-color: #E6ECF8 !important;
}

.modalDelete {
    width: 298px !important;
}

.modalDelete p {
    color: #0443BD !important;
    text-align: center;
    font-size: 14px;
}